#games{
    width: 100%;
    height: 200vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    background-color: #395B64;
    padding-bottom: 100px;
}
#games h3{
    color: #A5C9CA;
    font-size: 2.5rem;
    font-family:'Lato';
    letter-spacing: 2px;
    margin-top: 0;
}
.game-box{
    display: flex;
    justify-content: center;
    align-content: center;
}
.single-game{
    background-color: #2C3333;
    width: 250px;
    height: 600px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    position: relative;
}
.single-game-img{
    width: 100%;
    height: 40%;
}
.single-game-img img{
    padding: 15px;
    margin-top: 40px;
    width: 100%;
    height: 100%;
}
.single-game:hover{
    border: 1px solid #374045;
    box-shadow: 2px 2px 12px #E7F6F2;
}
.single-game-text{
    top: 0;
    width: 100%;
    height: 50%;
    background-color: #2C3333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.single-game-text p{
    margin: 0px;
    color: #D4F6CC;
    font-size: 1rem;
    font-family:'Lato';
    letter-spacing: 1px;
    display: block;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.single-game-text p:hover{
    color: #3CCF4E;
}
.single-game-text p:nth-child(8){
    color: #FBDF07;
    margin-top: 15px;
}
div div:nth-child(4) .single-game-text p:nth-child(4){
    color: #FBDF07;
    margin: 15px auto;
}
.single-game-text p:nth-child(8):hover,
div div:nth-child(4) .single-game-text p:nth-child(4):hover{
    color: #D4F6CC;
}
.venue {
    background-color: #2C3333;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
}
.venue p{
    font-size: 1rem;
    font-family:'Lato';
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #D4F6CC;
}
.venue p span{
    color: #FBDF07;
}


/* Wate Wave Text Animation */
.calendar {
    width: 100%;
    display: flex;
    position: relative;
    margin: 0;
    align-items: center;
    justify-content: center;
}
.content {
    display: flex;
}
.content h1 {
    margin: 0;
    color: #D4F6CC;
    font-size: 3.2rem;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    word-spacing: 10px;
    position: absolute;
    transform: translate(-50%, -100%);
}
.content h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #D4F6CC;
}
.content h1:nth-child(2) {
    color: #D4F6CC;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
    0%,
    100% {
        clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
        );
    }
    50% {
        clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
        );
    }
}


/* Subtle zoom to attention and then back */
.pop-outin {
    color: #EF5B0C;
    letter-spacing: 2px;
    animation: 2s anim-popoutin ease infinite;
}
@keyframes anim-popoutin {
  0% {
    color: #3CCF4E;
    transform: scale(0);
    opacity: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  25% {
    color: #D4F6CC;
    transform: scale(1.5);
    opacity: 1;
    text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
  }
  50% {
    color: #3CCF4E;
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    /* animate nothing to add pause at the end of animation */
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
}


/* lineup class and keyframes */
.lineUp {
    margin: 0;
    margin-top: 30px;
    animation: 2s anim-lineUp ease-out infinite;
}
.lineUp a {
    text-decoration: none;
    color: #D4F6CC;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    word-spacing: 10px;
}
@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@media(max-width:1190px){
    #games{
          height: auto;
    }
    .game-box{
          flex-wrap: wrap;
      }
    .single-game{
          flex-grow: 1;
      }
    .single-game-img img{
          object-fit:contain;
    }
}

@media(max-width:970px){
    .content h1{
        font-size: 2.7rem;
    }
}

@media(max-width:600px){
    .content h1{
        font-size: 1.7rem;
        letter-spacing: 1px;
    }
    #games h3{
        font-size: 1.4rem;
        margin-top: 10px;
    }
    .single-game{
      width: 100%;
      height: 400px;
    }
    .game-box div:nth-child(4){
        height: 520px;
    }
    .lineUp a{
        font-size: 1.5rem;
    }
}

@media(max-width:428px){
    .content h1{
        font-size: 1.2rem;
    }
    #games h3{
        font-size: 1rem;
    }
    .venue p{
        font-size: 0.6rem;
    }
}

@media(max-width:400px){
    .content h1{
        font-size: 1rem;
    }
    #games h3{
        font-size: 0.9rem;
    }
    .venue p{
        font-size: 0.52rem;
    }
}
