#contact{
    padding-top: 120px;
    background: #A25B5B;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#contact h1{
    font-size: 3.5rem;
    color:#D5D8B5;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    font-family: 'Alfa Slab One';
    margin-bottom: 80px;
}
#contact form{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
#contact form p{
    width: 100%;
    height: 50px;
    margin: 5px 0px;
    padding: 10px;
    background-color: #D5D8B5;
    color: #809A6F;
    letter-spacing: 2px;
    border-radius: 5px;
}
#contact form p:hover{
    color: #D5D8B5;
    background-color:#809A6F;
    box-shadow: 5px 5px 10px #D5D8B5;
    font-size: 1.2em;
}
#contact button{
    border: none;
    outline: none;
    height: 45px;
    margin-top: 20px;
    background: linear-gradient(90deg, #0F3D3E 20%,#0F3D3E);
    color: #D5D8B5;
    text-transform: uppercase;
}

@media(max-width:620px){
  #contact form{
    width: 90%;
  }
}
