#home{
    width:100%;
    height:768px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../images/home.jpg');
    z-index: 0;
}
#home::before{
    position: absolute;
    content: "";
    background: -moz-radial-gradient(center, ellipse cover, #D4F6CC 0%, rgba(0, 0, 0, 0.6) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #D4F6CC 0%, rgba(0, 0, 0, 0.6) 100%);
    background: radial-gradient(ellipse at center, #D4F6CC 0%, rgba(0, 0, 0, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61b50808', endColorstr='#99000000',GradientType=1 );
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.home-heading{
    font-family: 'Alfa Slab One';
    color: #003865;
	width: 900px;
	position: absolute;
    left: 25%;
    top: 50%;
    text-align: left;
	transform: translate(-25%,-55%);
}
/* .home-heading {
} */
.home-detail{
    font-size: 1.4em;
    font-weight: bold;
    font-family:'Lato';
	letter-spacing: 1px;
	color: #a32a54;
}
.home-heading h3{
	font-family:'Alfa Slab One';
	font-size: 3rem;
    text-align: center;
	margin:0px;
	letter-spacing: 6px;
    color:#6e323c;
}
.home-heading h1{
    width: fit-content;
	font-family:'Alfa Slab One';
	font-size: 2.5rem;
	margin:0px;
	letter-spacing: 2px;
	color:#003865;
    border-bottom: 2px solid #3d2514;
}
.home-heading h1 span{
    border-bottom: none;
    margin-left: 100px;
}
.home-tab{
    display: flex;
    margin-top: 40px;
}
.home-btn{
	width: 320px;
	height: 50px;
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-family:'Lato';
    word-spacing: 10px;
    background-color: #3d2514;
    box-shadow: 5px 10px 30px #003865;
    border-radius: 5px;
	color:#D4F6CC;
}
.home-btn:hover{
	background-color: transparent;
    transition: all ease 0.5s;
    color: #3d2514;
    border: 2px solid #003865;
}

@media(max-width:1190px){
    #home{
		background-size: 1190px !important;
		height: 650px;
	}
	.home-heading{
		left: 50%;
		top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .home-heading h2{
        font-size: 1.5rem;
    }
    .home-heading h1{
        font-size: 3rem;
    }
    .home-detail{
        font-size: 1.4em;
    }
    .home-btn{
        margin: 0 auto;
    }
}

@media(max-width:1100px){
    .home-btn{
      margin: 0 auto;
    }
}

@media(max-width:970px){
    /* #home{
		height: 650px;
	} */
	.home-heading{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
    }
    .home-btn{
        margin: 0 auto;
    }
}

@media(max-width:600px){
    .home-heading{
      width: 60%;
    }
    .home-detail{
        text-align: left;
        font-style: italic;
        font-size: 1em;
    }
    .home-heading h1{
        font-size: 1.7rem;
    }
}

@media(max-width:400px){
    .home-heading h1{
        font-size: 1.2rem;
    }
    .home-heading h3{
        font-size: 2rem;
    }
    .home-btn{
        font-size: 1.1rem;
    }
}
