#home{
    width:100%;
    height:768px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../images/home.jpg');
    z-index: 0;
}
#home::before{
    position: absolute;
    content: "";
    background: -moz-radial-gradient(center, ellipse cover, #D4F6CC 0%, rgba(0, 0, 0, 0.6) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #D4F6CC 0%, rgba(0, 0, 0, 0.6) 100%);
    background: radial-gradient(ellipse at center, #D4F6CC 0%, rgba(0, 0, 0, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61b50808', endColorstr='#99000000',GradientType=1 );
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.home-heading{
    font-family: 'Alfa Slab One';
    color: #003865;
	width: 900px;
	position: absolute;
    left: 25%;
    top: 50%;
    text-align: left;
	transform: translate(-25%,-55%);
}
.home-detail{
    font-size: 1.4em;
    font-weight: bold;
    font-family:'Lato';
	letter-spacing: 1px;
	color: #a32a54;
}
/* .home-heading h3{
	font-family:'Alfa Slab One';
	font-size: 3rem;
    text-align: center;
	margin:0px;
	letter-spacing: 6px;
    color:#6e323c;
} */

.home-tab{
    display: flex;
    margin-top: 40px;
}
.home-btn{
	width: 320px;
	height: 50px;
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-family:'Lato';
    word-spacing: 10px;
    background-color: #3d2514;
    box-shadow: 5px 10px 30px #003865;
    border-radius: 5px;
	color:#D4F6CC;
}
.home-btn:hover{
	background-color: transparent;
    transition: all ease 0.5s;
    color: #3d2514;
    border: 2px solid #003865;
}

/* Static Colour Change Effect */

.title-word {
    animation: color-animation 4s linear infinite;
}
.title-word-1 {
    --color-1: #16213E;
    --color-2: #533483;
    --color-3: #62374E;
}
.title-word-2 {
    --color-1: #A27B5C;
    --color-2: #774360;
    --color-3: #51557E;
}
.title-word-3 {
    --color-1: #4C0027;
    --color-2: #2D4263;
    --color-3: #C84B31;
}
.title-word-4 {
    --color-1: #1E5128;
    --color-2: #346751;
    --color-3: #0B5269;
}
@keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
}

/* Here are just some visual styles. 🖌 */
.container {
    display: grid;
    text-align: left;
}
.title {
    font-family: 'Alfa Slab One';
    font-size: 2.5rem;
    letter-spacing: 2px;
}

/* Text Colour Animation Effect */
.text-center {
    font-family: 'Alfa Slab One';
	font-size: 3rem;
    text-align: center;
	letter-spacing: 6px;
}
.animate-character
{
    margin: 0;
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    fill: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


@media(max-width:1190px){
    #home{
		background-size: 1190px !important;
		height: 650px;
	}
	.home-heading{
		left: 50%;
		top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .title{
        font-size: 2.5rem;
    }
    .home-detail{
        font-size: 1.4em;
    }
    .home-btn{
        margin: 0 auto;
    }
}

@media(max-width:1100px){
    .home-btn{
      margin: 0 auto;
    }
}

@media(max-width:970px){
    .home-heading{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
    }
    .home-btn{
        margin: 0 auto;
    }
}

@media(max-width:600px){
    .home-heading{
      width: 60%;
    }
    .home-detail{
        text-align: left;
        font-style: italic;
        font-size: 1em;
    }
    .title{
        font-size: 1.7rem;
    }
}

@media(max-width:400px){
    .title{
        font-size: 1.2rem;
    }
    .animate-character{
        font-size: 2rem;
    }
    .home-btn{
        font-size: 1.1rem;
    }
}
